{% extends 'base.html.twig' %}

{% block title %}Livres
{% endblock %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{{ asset('css/styleListLivre.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navbarStyle.css') }}">

{% endblock %}

{% block body %}

            <div class="row" style="margin-top: 50px">
                <div class="col-2" style="margin-left: 60px">
                    <div class="row">
                        <a class="btn" href="{{ path('livre_index') }}" style="background-color: #26a9e0; width: 120px; margin-top: 10px"><i class="bi bi-skip-backward" style="color:white;font-size:20px;margin-left: 10px;"></i></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h1 style="margin-left:10px;  text-align: center">Liste des livres</h1>
                </div>
                <div class="row" style="margin-left: 10px">
                    <ul class="auto-grid" id="livres">
                        {% for livre in livres %}
                            <li style="list-style: none; display: inline-block;">
                                <!-- partial:index.partial.html -->
                                <div class="card" onclick="this.classList.toggle('expanded')">
                                    <div class="label">
                                        <h2 class="title">{{ livre.titre }}</h2>
                                        <table id="tableLivre">
                                            <tbody>
                                            <tr>
                                                <td><strong>ISBN-13</strong>:</td>
                                                <td><strong><strong>{{ livre.isbn }}</strong></strong></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Date de parution</strong>:</td>
                                                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Nombre de pages</strong>:</td>
                                                <td>{{ livre.nombrePages }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Note</strong>:</td>
                                                <td><span id="livre-note-{{ livre.id }}">{{ livre.note }}</span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="text1" style="margin: 20px 0px 0px 0px;">
                                                        <div class="text-content">
                                                            <div class="body-text">
                                                                <a class="btn" href="{{ path('livre_show', {'id': livre.id}) }}" style="background-color: #26a9e0"><i class="bi bi-eye" style="color:white;font-size:20px;margin-left: 10px;"></i></a>
                                                                {% if is_granted('ROLE_ADMIN') %}
                                                                    <a class="btn" href="{{ path('livre_edit', {'id': livre.id}) }}" style="background-color: #faaf40"><i class="bi bi-pen" style="color:white;font-size:20px;margin-left: 10px;"></i></a>
                                                                    {{ include('livre/_delete_form.html.twig') }}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div style="margin-top: 80px">
                                        <svg  class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 35" width="30">
                                            <path d="M5 30L50 5l45 25" fill="none" stroke="#000" stroke-width="5"/>
                                        </svg>
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <i class="bi bi-info-circle"></i> Aucun résultat
                            </div>
                        {% endfor %}
                    </ul>
                </div>

            </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
